[Unit]
Description=GlobalHome_ASR_micro_FastAPI
After=network.target

[Service]
User=octadim
WorkingDirectory=/usr/local/GlobalHome_ASR_micro_FastAPI
ExecStart=/usr/local/GlobalHome_ASR_micro_FastAPI/.venv310/bin/python3.10 /usr/local/GlobalHome_ASR_micro_FastAPI/main.py
Restart=always
RestartSec=180
Type=simple

[Install]
WantedBy=multi-user.target
